<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>건강한 체중관리</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <div id="container">
        <div id="titleBox">
            <h1><a href="/">나의 건강한 체중관리</a></h1>
        </div>
        <h1 id="subTitle">나의 BMI 확인하기</h1>
        
        <div id="infoBox">
            <div id="info">
                <span>이름</span><input type="text" id="name"><br>
                <span>키</span><input type="text" id="height"><br>
                <span>체중</span><input type="text" id="weight"><br>
                <button type="button" id="bmiBtn" class="btn">입력하기</button>
            </div>
        </div>

        <div id="response">

        </div>
        <div id="goBox">
            <button type="button">
                <a href="/food">식단관리 바로가기</a>
            </button>
            <button type="button">
                <a href="/fitness">운동관리 바로가기</a>
            </button>
        </div>
    </div>
    
    
</body>
</html>