<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>건강한 체중관리</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <div id="container">
        <div id="titleBox">
            <h1><a href="/">나의 건강한 체중관리</a></h1>
        </div>
        <h1 id="subTitle">나의 BMI 확인하기</h1>
        
        <div>
            키<input type="text" id="height"><br>
            체중<input type="text" id="weight"><br>
            <button type="button" id="bmiBtn">입력하기</button>
        </div>
    </div>
    
    
</body>
</html>