<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>건강한 체중관리</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <div id="container">
        <div id="titleBox">
            <h1><a href="/">나의 건강한 체중관리</a></h1>
        </div>
        <h1>ai를 통해 나에게 맞춤 식단을 관리하세요!</h1>
    </div>
    
    
</body>
</html>